/* Definimos las Custom properties */
:root{
    /* Colores */
    --negro         : #393939;
    
    /* Tipografía */
    --tipo-principal   : 'Lora', serif;
    --tipo--titular : ''
  }
    
  /* (Opcional) Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root{
        --negro         : #ececec;
    }
  }
  
  /* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
  
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
  *::before , *::after{
    display: block;
  }
  
  /* Evitamos problemas con las imagenes */
  img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    /* (Opcional) */ object-fit: cover;        
    /* (Opcional) */ object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
  }
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* (Opcional) Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
    width: 100%;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
  }
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
      content: '';
      content: none;
  }
  
  /* (Opcional) Configuramos el texto que seleccionamos */
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form , input, textarea, select , button , label{
      font-family: inherit;
      font-size: inherit;
      hyphens: auto;
      background-color: transparent;
      color:inherit;
      display: block;
      /* (Opcional) */ appearance: none;
  }
  
  /* Reseteamos las tablas */
  table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg{
      width: 100%;
      display: block;
      fill: currentColor;
  }
  
  /* Configuramos la tipografía para toda la web */
  body {
    min-height  : 100vh;
    font-size   : 100%;
    font-family : var(--tipo-principal);
    color       : var(--negro);
    
    padding: 0;
    margin:0;
    
  }


/*Def clases*/



.main{
  margin: 0;
  padding: 0;

}
/*header*/
.header{
  width: 100%;
  padding: 1.7rem 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.35);

  color:  rgb(180, 187, 182); 
  font-weight: bold;
  font-size: 1.3rem;
  position: fixed;
  overflow-x: hidden;

}
.header .h1{
  
}

@media (max-width: 768px) {
.header .h1{
  display: none;
}
.header{
  justify-content: center;
}
}
.header .h1 .a{
  padding: 0em;
}
.header .nav{

}
.header .ul{
  display: flex;
  flex-flow: row nowrap;

}
.header .li{
  margin: 0em 1em;
}
.header .li .a{
  padding: 0em;

}
.header .li .a:hover{
  color:#b6edcf ;
}
/*main*/
.home{
  overflow-x: hidden;
}
.section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items:center;
  overflow-wrap:break-word ;
  position:relative;
  z-index: 0;

}


.section .title{ 
  z-index: 30;
  position: absolute;
  top: 50%;

}
.section .title-container{
  position: relative;
  bottom: 8rem;
  line-height: 6rem;
  
}
.section .title .h1{
  font-size: 7rem;
  position: relative;
  letter-spacing: -0.4rem;
  top:1.5rem;
  font-weight: bold;
  color:  rgb(180, 187, 182); 
  line-height: 6rem;
  

}

.section .title .h2{
  margin-top: 2rem;
  font-size: 3rem;
  position: absolute;
  left: 24%;
  letter-spacing: -0.4rem;
  font-weight: 100;
  color:  rgb(180, 187, 182); 
  line-height: 3rem;


}

.parallax-container{
  position: absolute;
  height: 100%;
  width: 120% ;
  
  

}


.parallax-container .parallax-item-background{

  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition:cubic-bezier(0.2, 0.8, 0.2, 1);
  filter: brightness(50%);
}

.parallax-container .parallax-item-mountain{

  position:absolute;
  bottom:0;
  left: 0%;

  width: 100%;
  height: auto;
  z-index: 1;
  transition: cubic-bezier(0.2, 0.8, 0.2, 1);
  filter: brightness(30%);
  

}
.works{
  min-height: 300vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 50%,
  rgba(0, 0, 0, 0.9) 100%),
  url(/Proyecto/fotos/foto2.jpg) 
  no-repeat center center /cover;

}
/*
.container-works{
  position: absolute;
  height: 100%;
  width: 100% ;
  overflow: hidden;

}
.works-background{
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: brightness(19%);
}
*/
.section .grid{
  width:90% ;
  background-color: lightcoral;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
  gap: 3em;
  margin: 5em 0em 0em 0em;

}
.section .article{
  width: 100%;
  min-height: 30vh;
  background-color: lightpink ;
  display: flex; 
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section .a{}
section .figure{

}
.section .img{
  width: 100%;
  
}
.section .h4{
  width: 100%;
  height: 10%;
  background-color: blue;
  position: absolute;
  bottom:0;
  left: 0;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;


}
.about{
  min-height: 150vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, 
  rgba(0, 0, 0, 0.9) 4%,
  rgba(0, 0, 0, 0.45) 50%,
  rgba(0, 0, 0, 0.9) 100%),
  linear-gradient(to right, rgb(0, 0, 1) 10%, transparent 40%),
  linear-gradient(to left, rgb(0, 0, 1) 10%, transparent 30%),
  linear-gradient(to left,rgb(2, 12, 7) 20%, transparent 40%),
  url(/Proyecto/fotos/foto6.jpg) no-repeat center center /cover;
  background-position: center left 0.5rem;
  
}
.center-text {
  display: flex;
  width: 100%;
  flex-flow: column wrap ;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}
.about .h6{
  font-size:1.2em;
  color:#cbfae0 ;
  
}
.about .h2{

  font-size:3.2em;
  max-width: 41rem;
  line-height: 0.9em;
  letter-spacing: -0.05em;
  text-align: center ;
  margin-top: 0.1em;
  color:  rgb(180, 187, 182); 
  font-weight: 200;
  overflow-wrap: break-word;


  
}
.about .h2 .span{
  font-weight: 900;
}
.about .figure{
  display: flex;
  width: 100%;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
  
  

}
.about .img{
  width: 40vh;
  height: 50vh;
  border-style: solid;
  margin-top: 2rem;
  
}
.about .figure .h5{
  font-size: 1.3em;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  max-width: 41rem ;
  color:  rgb(180, 187, 182); 
  text-align: center;
  font-weight: 400;
  
}
.about .figure .h5 .span{

  font-weight:bold;

}
.about .figure .h5 .green{

  
  color:#cbfae0 ;

}
.about .text{
  width: 100%;
  position: relative ;
  display: flex;
  flex-flow:row wrap;
  gap:3rem;
  justify-content: center;

  margin-bottom: 1.5rem;
  color:  rgb(180, 187, 182); 
  font-weight: 800;
  font-size:0.8rem;
  
}
.about .p-left{
  flex:1;
  margin-left:15rem;
}
.about .p-right{
  flex:1;
  margin-right: 15rem;

}
@media (max-width: 1200px) {
  .about .text {
    flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
    align-items: center;
  }

  .about .p-left {
    margin:0 1rem; 
    
  }
  .about .p-right{
    margin: 0 1rem;
  }
}
.about .button{
  margin: 2rem;
  border-color: #b6edcf;
  padding:1rem 1rem;
  background-color:rgb(180, 187, 182); ;
}



.contact{
  min-height: 100vh;
  background:  linear-gradient(to bottom, 
  rgba(0, 0, 0, 0.85) 10%,
  rgba(0, 0, 0, 0.75) 50%,
  rgba(0, 0, 0, 0.80) 100%),
  url(/Proyecto/fotos/foto8.jpg) no-repeat center center /cover;
  filter: hue-rotate(40deg);
}


.contact .rss{
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
}
.contact .ul{}
.contact .li{
  background-color: orange;
  margin: 0.5em 1em;
  

}
.contact .li .a{}
.contact .svg{
  width: 3em;
  height: 3em;
  background-color: red;
}
