/* CSS Document */

.files { margin-bottom:10px; }
	.files li { padding-bottom:5px; }
	
.file { background:url(../images/file.png) no-repeat 0 1px;  display:inline-block; padding:3px 0 3px 23px; font-weight:normal; }
	.file.doc, .file.docx { background-image:url(../images/doc.png); }
	.file.mdb, .file.accdb { background-image:url(../images/mdb.png); }
	.file.xls, .file.xlsx { background-image:url(../images/xls.png); }
	.file.rar { background-image:url(../images/rar.png); }
	.file.zip { background-image:url(../images/zip.png); }
	.file.pdf { background-image:url(../images/pdf.png); }
	.file.txt { background-image:url(../images/txt.png); }
	.file.jpg, .file.gif, .file.png, .file.bmp { background-image:url(../images/jpg.png); }	
	
#filesPage { float:left; width:500px; margin-left:15px; }